<div ng-init="loadRepositories()">
  <div ng-show="user">
    <span translate="welcome">Welcome</span> <a ng-href="{{ user.html_url }}">{{ user.name }}</a>!
    <div class="pull-right" ng-show="repositories.length">
      <input type="text" ng-model="search.name" class="form-control" placeholder="Search...">
    </div>
  </div>
  <hr>

  <div class="row marketing">
    <div ng-show="loading.repos" translate="loading">Loading...</div>
    <div ng-show="repositories.length">
      <span translate="you_have">You have</span> <strong>{{ repositories.length }}</strong>
      <span translate="repositories starred">repositories starred</span>!
    </div>
    <hr/>

    <table class="table table-striped table-repositories" ng-show="repositories.length">
      <thead>
      <tr>
        <th ng-click="setOrder('name')" translate="repository">Repository</th>
        <th ng-click="setOrder('watchers')" translate="watchers">Watchers</th>
        <th ng-click="setOrder('forks')" translate="forks">Forks</th>
        <th ng-click="setOrder('contributors.length')" translate="contributors">Contributors</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="repo in repositories | filter: search | orderBy: order:reverse">
        <td>
          <a ng-href="{{ repo.svn_url }}" target="_blank">{{ repo.name }}</a>
        </td>
        <td>{{ repo.watchers }}</td>
        <td>{{ repo.forks }}</td>
        <td>
          <span ng-show="repo.contributors">{{ repo.contributors.length }}</span><span ng-show="repo.contributors.full">+</span>
          <span ng-show="!repo.contributors" translate="loading">Loading...</span>
        </td>
        <td>
          <a ng-href="/#/repo/{{ repo.owner.login }}/{{ repo.name }}" translate="more_info">More Info</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>